<h3><code>instant</code></h3>

<p class="margin-top"><code>instant</code> causes all the text appear instantly. :(</p>

{{format-markdown '```hbs
{{ember-lxl
  text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec suscipit est, a ultrices massa. In ornare elit sed suscipit facilisis. Aliquam viverra sapien metus, maximus imperdiet ex interdum sed. Phasellus in consectetur eros. Nam lobortis ex ut quam pharetra, laoreet tempor orci ornare. Nulla facilisi. Mauris vulputate orci at eros ultrices, sit amet luctus purus maximus. Sed vitae tortor auctor, porta sem quis, lobortis leo. Duis tempus ligula quis quam pulvinar, eget facilisis metus sagittis. Vestibulum vitae viverra nunc. Morbi non libero non enim porttitor fermentum sit amet in massa. Nulla dui felis, cursus vitae risus id, congue tincidunt elit. Quisque odio est, lobortis at accumsan ut, varius quis urna."
  instant=true
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec suscipit est, a ultrices massa. In ornare elit sed suscipit facilisis. Aliquam viverra sapien metus, maximus imperdiet ex interdum sed. Phasellus in consectetur eros. Nam lobortis ex ut quam pharetra, laoreet tempor orci ornare. Nulla facilisi. Mauris vulputate orci at eros ultrices, sit amet luctus purus maximus. Sed vitae tortor auctor, porta sem quis, lobortis leo. Duis tempus ligula quis quam pulvinar, eget facilisis metus sagittis. Vestibulum vitae viverra nunc. Morbi non libero non enim porttitor fermentum sit amet in massa. Nulla dui felis, cursus vitae risus id, congue tincidunt elit. Quisque odio est, lobortis at accumsan ut, varius quis urna."
    instant=true
  }}
{{/lxl-container}}
