.lxl-container {
  overflow: hidden;
  width: 100%;
  height: 100%;

  .lxl-body {
    padding-bottom: 100%;

    .lxl-dom-element, .lxl-word, .lxl-letter {
      opacity: 0;
    }
  }
}

.lxl-word, .lxl-letter {
  display: inline-block;
}

.lxl-tag {
  display: none;
}
