<div class="columns small-3 large-2 fixed">
  {{ember-expanding-sidebar sections=sections}}
</div>

<div class="columns small-6 small-offset-3 large-offset-1 large-9 padding-right-2">
  <h1 class="margin-bottom">
    <code>ember-letter-by-letter</code>

    <a href="https://github.com/null-null-null/ember-letter-by-letter" target="_blank">
      <img src="./octocat.png" class="octocat">
    </a>
  </h1>

  {{outlet}}
</div>
