<div style="height: 65px; width: 150px;">
  {{ember-lxl
    text="Hahahahahahaha, you thought you had won, but it was really I, the nefarious (sp?) Mr. Disastersaurus Rex!!! You'll never stop me now that I've tricked you into thinking that you've won!"
  }}
</div>
