<div class="row">
  <div class="columns small-3 fixed">
    {{ember-expanding-sidebar sections=sections}}
  </div>

  <div class="columns small-9">
    <h1 class="margin-bottom"><code>ember-letter-by-letter</code></h1>

    {{outlet}}
  </div>
</div>
