{{format-markdown '```hbs
{{ember-lxl
  text="Welcome to the <code>ember-letter-by-letter</code> demo page! You\'re already witnessing the incredable power of an <code>ember-lxl</code> component! [[pause 750]]Behold the way it writes words, [[#cps 10]]one letter at a time![[/cps]] [[pause 350]]Trigger its sublime effects with a mouse click! <span class=\'muted\'>[[#cps 50]](That is, advance the text.)[[/cps]]</span> [[pause 750]]Explore its vast and interactive documentation . . . at your leisure! [[pause 750]]<code>ember-letter-by-letter</code> is sublime! <code>ember-letter-by-letter</code> is grand! <code>ember-letter-by-letter</code> is . . . flexible? [[pause 1500]] Okay, that\'s cool too, I guess."
}}
```'}}

{{#lxl-container}}
  {{ember-lxl
    text="Welcome to the <code>ember-letter-by-letter</code> demo page! You're already witnessing the incredable power of an <code>ember-lxl</code> component! [[pause 750]]Behold the way it writes words, [[#cps 10]]one letter at a time![[/cps]] [[pause 350]]Trigger its sublime effects with a mouse click! <span class='muted'>[[#cps 50]](That is, advance the text.)[[/cps]]</span> [[pause 750]]Explore its vast and interactive documentation . . . at your leisure! [[pause 750]]<code>ember-letter-by-letter</code> is sublime! <code>ember-letter-by-letter</code> is grand! <code>ember-letter-by-letter</code> is . . . flexible? [[pause 1500]] Okay, that's cool too, I guess."
  }}
{{/lxl-container}}
