<div class="lxl-outer-container">
  {{ember-lxl
    text="Welcome to the <code>ember-letter-by-letter</code> demo page! You're already witnessing the incredable power of an <code>ember-lxl</code> component! If you want to speed it up, click on it. And when it pauses, simply click again. You'll find many interactive documents throughout this site, so please feel free to explore!"
  }}
</div>
