<div class="lxl-outer-container">
  {{ember-lxl
    text="Welcome to the <code>ember-letter-by-letter</code> demo page! Here, you'll find interactive documentation that'll help illustrate what <code>ember-letter-by-letter</code> can do. In fact, you're looking at an <code>ember-lxl</code> component right now."
  }}
</div>
