<h2>Installation</h2>

<p>To install, first:</p>

{{format-markdown '`ember install ember-letter-by-letter;`'}}

<p>Then, in your <code>styles/app.scss</code>:</p>

{{format-markdown '```css
@import "ember-lxl/ember-lxl";
```'}}
