<h2>Installation</h2>

<p>To install <code>ember-letter-by-letter</code>, first:</p>

<code>ember install ember-letter-by-letter</code>

<p>Then, in your <code>ember-cli-build.js</code>:</p>

<code>
var app = new EmberApp(defaults, {
  // Add options here
  babel:{
    includePolyfill: true
  }
});
</code>
