<div class="lxl-outer-container">
  {{ember-lxl
    text="Here we are, moving at a normal cps. [[#cps 100]]But, whoa! What is this?! Now the speed has changed! [[#cps 5]] And now it's really slow.[[/cps]] And back to fast again? [[/cps]] And now it returns to normal."
  }}
</div>
